table,td,th{border:1px solid #000}.error{color:red}.success{color:green}body,html{height:100%;width:100%;overflow:hidden}.bg-img{background-image:url(bg.2a257a74ff44c8330282.jpg);background-size:cover;background-repeat:repeat-y}