#parent {
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
}
#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 10px;    
    padding-right: 0px; 
}
#video {
    grid-column: 1; grid-row: 1;
    
}

.here:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #463e3e;
    transform: translate(-50%);
}

#line {
    margin: 10px auto;
    height: 100%;
    border: 0px solid #333;
    position:relative;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    grid-column: 2; 
    grid-row: 1; 
}

#authenticate    { 
    grid-column: 2; 
    grid-row: 1; 
    padding-top: 60px;
}

#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}

#grid {
    display: grid;
  }

