
<div style="text-align: center; padding-top: 30px;">
		<font ><b style="font-size: 25px;">Card Holder Enrollment</b></font>
	</div>
	<div id="grid">
		
		<div id="app">
				<div>
					<video #video id="video" width="500" height="500" autoplay></video>
				</div>
				<canvas #canvas id="canvas" width="500" height="500"></canvas>
				<ul>
					<li *ngFor="let c of captures">
						<img src="{{ c }}" height="50" />
					</li>
				</ul>
		</div>
		<div id="authenticate">
			
			<div>
				<div>
					<h4>Name</h4> 
				</div>
				<div>
					<input style="font-size:18px; background-color: rgba(0, 0, 0, 0.02);
					vertical-align: -webkit-baseline-middle; text-align: center" 
					maxlength="16" name="name" [(ngModel)]="user.fullname" 
					#fullname="ngModel" size='25'>
				</div>
		
			</div>
			<div>
				<div>
					<h4>Mobile Number</h4> 
				</div>
				<div>
					<input style="font-size:18px; background-color: rgba(0, 0, 0, 0.02);
					vertical-align: -webkit-baseline-middle; text-align: center" 
					name="mobilenumber" [(ngModel)]="user.mobilenumber" 
					#mobnum="ngModel" size='25'>
					<p>Must start with country code(ex: +1 for USA)</p>
				</div>
			</div>			

			<div>
				<div>
					<h4>Card Number</h4> 
				</div>
	
				<div>
					<input 
					style="font-size:18px; background-color: rgba(0, 0, 0, 0.02);
					vertical-align: -webkit-baseline-middle; text-align: center" maxlength="16" name="cardNumber" 
					[(ngModel)]="user.cardNumber" 
					[pattern]="cardnumPattern" #cardnum="ngModel" size='25'>
					<p>Card number must be a 16 digit nubmer.</p>
				</div>
	
			</div>
			<ng-container *ngIf="user.cardNumber > 1000000000000000">
				<div style="padding-block-start: 1%" >
					<button  id="snap" 
					style="overflow: visible; size: 18px;font-size:18px; background-color: rgba(0, 0, 0, 0.02);" 
					(click)="capture()">
						submit</button>
				</div>
			</ng-container>
			<ng4-loading-spinner [threshold]="20" [timeout]="5000" > </ng4-loading-spinner>
			<div id="message"><h1>{{ message }}</h1></div>
		</div>
		
	</div>