@import "~bootstrap/dist/css/bootstrap.min.css";
table {
        
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
.error {
    color: red;
}
.success {
    color: green;
} 

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-img {
    background-image: url(./app/bg.jpg);
    background-size: cover;
    background-repeat: repeat-x; 
    background-repeat: repeat-y;   
}